<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <img src="../src/images/logo/logo-default-group-en.svg" alt="logo" title="logo" /> 
                    </div>
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li><a href="#about"> About Us</a></li>
                        <li><a href="#career"> Career</a></li>
                        <li><a href="#departments">Departments
                            <ul class="submenu">
                                <li><a href="/department/dep=marketing">Marketing &amp; PR</a></li>
                                <li><a href="/department/dep=customer">Customer Success &amp; Sales</a></li>
                                <li><a href="/department/dep=it">IT, Product, Data</a></li>
                                <li><a href="/department/dep=finance">Finance &amp; Administration</a></li>
                                <li><a href="/department/dep=hr">HR &amp; more</a></li>
                            </ul>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>