<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>docplanner</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../src/images/logo/sygnet@2x.png"
    />
    <link rel="stylesheet" href="../dist/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="../dist/js/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="logo">
                <a href="/">
                  <img
                    src="../src/images/logo/logo-default-group-en.svg"
                    alt="logo"
                    title="logo"
                  />
                </a>
              </div>
            </div>
            <div class="col-sm-9">
              <ul class="navmenu">
                <li><a href="#about"> About Us</a></li>
                <li><a href="#career"> Career</a></li>
                <li class="departement">
                  <a href="#departments">Departments</a>
                  <ul class="submenu">
                    <li>
                      <a href="/department/dep=marketing">Marketing &amp; PR</a>
                    </li>
                    <li>
                      <a href="/department/dep=customer"
                        >Customer Success &amp; Sales</a
                      >
                    </li>
                    <li><a href="/department/dep=it">IT, Product, Data</a></li>
                    <li>
                      <a href="/department/dep=finance"
                        >Finance &amp; Administration</a
                      >
                    </li>
                    <li><a href="/department/dep=hr">HR &amp; more</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="home">
        <div class="container">
          <div class="intro">
            <div class="image">
              <figure>
                <img
                  src="../src/images/logo/sygnet@2x.png"
                  alt="icon logo"
                  title="icon logo"
                />
              </figure>
            </div>
            <h1>Making the healthcare experience more human</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                We want patients to find the perfect doctor and book an
                appointment in the most easy way. The patient journey should be
                enjoyable, and that's why we are always next to them: to help
                them find the best possible care. Anytime, anywhere.
              </p>
            </div>
            <div class="col-md-6">
              <p>
                We also help doctors to better manage their practice and build
                their online reputation. With our integrated end-to-end
                solution, doctors are able not only to improve their online
                presence, but also to devote their time to what really matters:
                their patients.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="teasers">
        <div class="container">
          <div class="row items">
            <div class="col-md-4 teaser">
              <div class="item">
                <div class="info">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/icon-patients.svg"
                        alt="icon logo"
                        title="icon logo"
                      />
                    </figure>
                  </div>
                  <h2>For patients</h2>
                  <p>
                    Find a doctor, book a visit and solve any health-related
                    doubt
                  </p>
                </div>
                <div class="select">
                  <select>
                    <option selected disabled>Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 teaser">
              <div class="item">
                <div class="info">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/doctors@2x.png"
                        alt="icon logo"
                        title="icon logo"
                      />
                    </figure>
                  </div>
                  <h2>For doctors</h2>
                  <p>Save time managing visits and cut no-shows by half</p>
                </div>
                <div class="select">
                  <select>
                    <option selected disabled>Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                    <option value="">Choose country</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 teaser">
              <div class="item">
                <div class="info">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/logo/sygnet@2x.png"
                        alt="icon logo"
                        title="icon logo"
                      />
                    </figure>
                  </div>
                  <h2>For clinics</h2>
                  <p>
                    Deliver an exceptional patient experience in your clinic
                  </p>
                </div>
                <div class="select-items">
                  <div class="select">
                    <select>
                      <option value="">2 to 20 specialists</option>
                      <option value="">2 to 20 specialists</option>
                      <option value="">2 to 20 specialists</option>
                      <option value="">2 to 20 specialists</option>
                      <option value="">2 to 20 specialists</option>
                      <option value="">2 to 20 specialists</option>
                    </select>
                  </div>
                  <div class="select">
                    <select>
                      <option value="">More than 20 specialists</option>
                      <option value="">More than 20 specialists</option>
                      <option value="">More than 20 specialists</option>
                      <option value="">More than 20 specialists</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="partner">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>We are a global company with local culture</h2>
            </div>
            <div class="col-md-8 items">
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <figure>
                    <img src="../src/images/logo/sygnet@2x.png" />
                  </figure>
                  <p>znanylekarz</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="intro-teasers">
        <div class="container">
          <div class="row intro">
            <div class="col-md-6">
              <h2>The world's biggest healthcare platform</h2>
              <p>
                We work from 8 offices all over the world, bringing Docplanner
                Group to life in 13 countries.
              </p>
            </div>
            <div class="col-md-6 items">
              <div class="col-md-6">
                <div class="item">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/flag@2x.png"
                        alt="icon flag"
                        title="icon flag"
                      />
                    </figure>
                  </div>
                  <h3>Leader in 13 countries</h3>
                  <p>
                    Poland, Brazil, Mexico, Spain, Italy, Germany, Turkey,
                    Colombia, Czech Republic, Portugal, Argentina, Peru and
                    Chile
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/visits@2x.png"
                        alt="icon flag"
                        title="icon flag"
                      />
                    </figure>
                  </div>
                  <h3>Leader in 13 countries</h3>
                  <p>
                    Poland, Brazil, Mexico, Spain, Italy, Germany, Turkey,
                    Colombia, Czech Republic, Portugal, Argentina, Peru and
                    Chile
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/patients@2x.png"
                        alt="icon flag"
                        title="icon flag"
                      />
                    </figure>
                  </div>
                  <h3>Leader in 13 countries</h3>
                  <p>
                    Poland, Brazil, Mexico, Spain, Italy, Germany, Turkey,
                    Colombia, Czech Republic, Portugal, Argentina, Peru and
                    Chile
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                  <div class="image">
                    <figure>
                      <img
                        src="../src/images/icons/doctors@2x.png"
                        alt="icon flag"
                        title="icon flag"
                      />
                    </figure>
                  </div>
                  <h3>Leader in 13 countries</h3>
                  <p>
                    Poland, Brazil, Mexico, Spain, Italy, Germany, Turkey,
                    Colombia, Czech Republic, Portugal, Argentina, Peru and
                    Chile
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="headline">
        <div class="container">
          <h2>Improve the lives of millions. Change yours forever.</h2>
          <p>
            More than 2,200 team mates share our same vision, goals and passion.
            With offices in Warsaw, Barcelona, Munich, Istanbul, Rome, Bologna,
            Mexico City and Curitiba, our search for great talent never stops.
          </p>
        </div>
      </section>
      <section class="blogs">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/barcelona@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/bologna@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/curitiba@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/istanbul@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/rome@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/warsaw@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <a href="/">
                  <figure>
                    <img
                      src="../src/images/istanbul@2x.png"
                      title="barcalone"
                      alt="barcalone"
                    />
                  </figure>
                  <div class="info">
                    Warsaw
                    <span class="btn">See openings</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cta">
        <div class="container">
			<h2>
				Sounds interesting? Join us now!
			</h2>
			<a href="/career" class="btn">See all current openings</a>
        </div>
      </section>
    </main>
    <footer>
        <div class="section__inner">
            <p>We are leaders in 13 countries:
                <a href="https://www.znanylekarz.pl/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Poland</a>, <a href="https://www.doktortakvimi.com/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Turkey</a>,
                <a href="https://www.doctoralia.es/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Spain</a>,
                <a href="https://www.miodottore.it/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Italy</a>,
                <a href="https://www.jameda.de/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Germany</a>,
                <a href="https://www.znamylekar.cz/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Czech Republic</a>,
                <a href="//www.doctoralia.com.pt" target="_blank">Portugal</a>,
                <a href="https://www.doctoralia.com.mx/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Mexico</a>,
                <a href="https://www.doctoralia.co/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Colombia</a>,
                <a href="http://www.doctoralia.com.br/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Brazil</a>,
                <a href="http://www.doctoraliar.com/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Argentina</a>,
                <a href="http://www.doctoralia.pe/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Peru</a>
                and
                <a href="http://www.doctoralia.cl/?__hstc=94104962.545ce3948c1cc8f90a278d4a968f1f90.1646556600448.1647123289875.1647128893414.8&amp;__hssc=94104962.6.1647128893414&amp;__hsfp=2889588649" target="_blank">Chile</a>
            </p>
            <p>This site uses cookies to deliver services in accordance with this Privacy Policy. You can specify the conditions for storing or accessing cookies on your browser.</p>
    
            www.docplanner.com © 2022
        </div>
    </footer>
  </body>
</html>
